
body {
  background-color: lightgray;    /*makes body section of page lightgray*/
}

header {                          /*sets font and font-color for header, underlines the text in black, sets the header section as grey and pads the text from the top and bottom*/
  font-family: Zen Tokyo Zoo;
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
  background: grey;
  padding-top: 5px;
  padding-bottom: 5px;
}
hr {                              /*makes divider line black and 2px high*/
  height: 2px;
  color: black; 
}
h3 {                              /*changes font, then underlines it in whitesmoke*/
  font-family: Oswald;
  text-decoration: underline;
  text-decoration-color: whitesmoke;
}

h2 {                              /*changes font, then underlines it in whitesmoke*/
  font-family: Zen Tokyo Zoo;
  text-decoration: underline;
  text-decoration-color: whitesmoke;
}

li {
  font-family: Oswald;            /*changes font, then centers the list including it's bullet points or numbers*/
  text-align: center;
  list-style-position: inside;
}

footer {                          /*makes footer section 100px, grey formats it to have no padding from the bottom*/
height: 100px;
background: grey; 
padding-bottom: 0;
}

.footer-text {                    /*sets text in footer to white and pads it from the top*/
  color:white;
  padding-top: 40px;
}

.ol-tweak {                       /*adjusts for lack of centering on ordered lists*/
  padding-right: 50px;
}

p{                                /*changes font, centers text*/
  font-family: Oswald;
  text-align: center;
}
.resize-map {                     /*centers image, resizes picture of phx map to right size*/
  display: block;
  width: 300px;
  height: auto;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.resize-me {                      /*centers image, resizes picture of phx me to right size*/
  display: block;
  width: 25%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}

 .text-center {                   /*centers text*/
  text-align: center;
}

.ul-tweak {                       /*adjusts for lack of centering on unordered lists*/
  padding-right: 55px;
}
.wrapper {                      /*formats footer to fill bottom of screen*/
  width: 350px;
  margin: auto;
}


