
body {
  background-color: lightgray;
}

header {
  font-family: Zen Tokyo Zoo;
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
  background: grey;
  padding-top: 5px;
  padding-bottom: 5px;
}
hr {
  height: 2px;
  color: black; 
}
h3 {
  font-family: Oswald;
  text-decoration: underline;
  text-decoration-color: whitesmoke;
}

h2 {
  font-family: Zen Tokyo Zoo;
  text-decoration: underline;
  text-decoration-color: whitesmoke;
}

li {
  font-family: Oswald;
  text-align: center;
  list-style-position: inside;
}

footer {
height: 100px;
background: grey; 
padding-bottom: 0;
}

.footer-text {
  color:white;
  padding-top: 40px;
}

.ol-tweak {
  padding-right: 50px;
}

p{
  font-family: Oswald;
  text-align: center;
}
.resize-map {
  display: block;
  width: 300px;
  height: auto;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.resize-me {
  display: block;
  width: 25%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}

 .text-center {
  text-align: center;
}

.ul-tweak {
  padding-right: 55px;
}
.wrapper {
  width: 350px;
  margin: auto;
}


